.PageContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.HeaderSection {
  border: 16px;
  justify-content: center;
  padding: 30px;
}

.Navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.Banner {
  display: flex;
  gap: 200px;
  position: relative;
}

.ImageDecoration {
  position: relative;
  opacity: 0.7;
  left: -140px;
}

.BannerImage {
  justify-self: left;
  position: absolute;
  right: 0;
  top: -100px;
  height: auto;
  z-index: 0;
}

.HeaderLogo {
  position: static;
  width: 130px;
  height: 41px;
  margin: 0;
  margin-right: auto;
  z-index: 1;
}

.HeaderTextButton {
  background-color: #458ff6;
  border: none;
  height: 45px;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.HeaderText {
  margin-left: 70px;
  justify-self: left;
  max-width: 30%;
}
.HeaderTitle {
  font-size: 40px;
  font-weight: lighter;
}
.HeaderSubTitle {
  color: #949494;
}

.NavbarItem {
  font-size: 14px;
  display: inline-block;
}

.Navbar {
  flex-wrap: wrap;
}

.ListItem {
  display: block;
  font-weight: bold;  
  color: #656565;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ListItem:hover {
  color: black;
}
