.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 250px;
  padding: 0 16px;
}

.section-text-title {
  text-align: center;
  font-size: 36px;
}

.text-section {
  text-align: center;
}

.latest-underline {
  margin-bottom: 50px;
}

.card-section {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 30px;
  width: 100%;
}

.final-section-button {
  background-color: #fff;
  border: 2px solid #5d9df7;
  width: 180px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  border-radius: 50px;
  color: #5d9df7;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.final-section-button:hover {
  transform: translateY(-10px);
  background-color: #5d9df7;
  border: 2px solid #fff;
  color: #fff;
}


.latest-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
